@import url('https://font.google.com')
*;

body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 800px;
}

header{
    background: url(../images/205-326084_112446325567615_2099106444_o.jpg);
    background-repeat: no-repeat;
    background-color: #000;
    background-size: 60% auto;
    background-position: right;
    color: #fff;
    text-align: center;
    padding: 20% 30%;
}

header h2,
header h3{
    padding:10px 20px;
    background-color: rgba(232, 232, 232, 0.6);
}

.phrase{
    background: #ccc;
    margin: 20px 0;
    padding: 10px;
    font-size:24px;
}

.phrse spam{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

div.clear{
    clear: both;
}

.col{
    float: left;
    padding:10px 10px 10px 5px;
}

.col-1{
    width: 485px;
}

.col-1 ul{
    list-style: none;
}

.col-1 .item{
    border-bottom:1px solid #ccc;
    padding-bottom: 20px 0 10px 0;
}

.col-1 .item:hover{
    background: rgb(143, 86, 190);
    color: #fff;
}
.col-1 .item .date,
.col-1 .item .desc{
    float: left;
}

.col-1 .item .date{
    width: 20%;
    font-weight: bold;
}
    
.col-1 .item .desc{
    width: 65%;
    margin: 10px;
}

.col-2{
    width: 185px;
    text-aling: center;
}

.col-2 img{
    width: 100%;
    border-radius: 100%;
    margin:10px 5px;
    border:2px  solid #000;
}

.col-2 table tr:hover{
    background: #a8a8a8;
}

.col-2 table td:first-child{
    text-aling: right;
    front-weight:bold;
    text-transform: uppercase;
    padding-right: 5px;
    font-size: 12px;
}

.col-2 table td:last-child{
    text-aling: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;  
}








