body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 940px;
    margin: auto;

}

header {
    background: url(../imagen/bridgerton-season-2-what-we-know-so-far.jpg);
    height: 400px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    color: white;
    text-align: left;
    font-size: 60px;
    object-position: center;
}

header h2 {
    text-align: left;
}

img {
    width: px;
}

.phrase {
    background: #ccc;
    margin: 20px 0;
    padding: 10px;
    font-size: 24px;
}

div.clear {
    clear: both;
}


.col {
    padding: 10px 10px 10px 5px;
    width: 50%;
}

.col-1 {
    float: left;

}

.col-2 {
    float: right;

}

.col-2 img{
    width: 400px;
    border-radius: 20%;
    margin: auto;
    float: center;}
}

.col-1 .item .desc {
    width: 50%;
    margin: 10px;

}

.col-1 img {
    width: 50%;
    border-radius: 15px;
    margin: 10px 5px;
    float: left;
}
.footer{
    background: pink;
    color: black;
}

.footer p{
    display: inline-block;
    width: 33%;
}

